{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{% for i in object_listD %}
{#    {% for M in object_listM %}#}
{#    {% if i.experience >= 10 %}#}
{#    {% for ii in i.education.values_list%}#}
       <h1> <a href="{{i.get_absolute_url}}">{{i.first_name}}   </a> </h1>
        {% for edu in i.education.all %}
{#        <h2><a href="{{M.get_absolute_url}}">{{ edu }}</a> </h2>#}
            {% endfor %}
{% endfor %}#
{#    {% endif %}#}
{#{% endfor %}#}



</body>
</html>