{% extends 'base_clinic.html' %}

{% block content %}
    <div class="MainB">
        <div class="Phone "><p>
            25 Plainsboro Rd, Princeton, NJ 08540<br>
            89RG+6F Princeton, NEW-Jersey<br>
            +16098537000<br>
            <a  class="link_undecor" href="https://goo.gl/maps/EX1DB99AK3ZFho4c8">Google MAPS</a>
        </p>
        </div>
            <div class="menu">
                <div class="block0">
                    <div class="menu__box_tw"><img src="../static/img/twitter.svg" alt="" class="logo"></div>
                    <div class="menu__box_tw_large"><img src="../static/img/twitter.svg" alt="" class="logo2"></div>
                </div>
                <div class="menu__box_tw_box"><p class="Title">Twitter
                </p></div>
                <div class="block1">
                    <div class="menu__box_fs"><img src="../static/img/facebook.svg" alt="" class="logo"></div>
                    <div class="menu__box_fs_large"><img src="../static/img/facebook.svg" alt="" class="logo2"></div>
                </div>
                <div class="menu__box_fs_box"><p class="Title">Facebook
                </p></div>
                <div class="block2">
                    <div class="menu__box_ln"><img src="../static/img/linkedin.svg" alt="" class="logo"></div>
                    <div class="menu__box_ln_large"><img src="../static/img/linkedin.svg" alt="" class="logo2"></div>
                </div>
                <div class="menu__box_ln_box"><p class="Title">LinkedIn </p></div>
                <div class="block3">
                    <div class="menu__box_in"><img src="../static/img/instagram.svg" alt="" class="logo"></div>
                    <div class="menu__box_in_large"><img src="../static/img/instagram.svg" alt="" class="logo2"></div>
                </div>
                <div class="menu__box_in_box"><p class="Title">Instagram </p></div>
                <div class="block4">
                    <div class="menu__box_yt"><img src="../static/img/youtube.svg" alt="" class="logo"></div>
                    <div class="menu__box_yt_large"><img src="../static/img/youtube.svg" alt="" class="logo2"></div>
                </div>
                <div class="menu__box_yt_box"><p class="Title">Youtube </p></div>
                <div class="block5">
                    <div class="menu__box_tu"><img src="../static/img/tumblr.svg" alt="" class="logo"></div>
                    <div class="menu__box_tu_large"><img src="../static/img/tumblr.svg" alt="" class="logo2"></div>
                </div>
                <div class="menu__box_tu_box"><p class="Title">Thumblr </p></div>
                <div class="block6">
                    <div class="menu__box_dr"><img src="../static/img/dribble-big-logo.svg" alt="" class="logo"></div>
                    <div class="menu__box_dr_large"><img src="../static/img/dribble-big-logo.svg" alt="" class="logo2">
                    </div>
                </div>
                <div class="menu__box_dr_box"><p class="Title">Dribbble </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}