{% extends 'base_clinic.html' %}

{% block content %}
    <div class="block_doc">

        {% for dc in object %}
            <div class="doc_info">
            <ul>
                <li>
                    <img src="{{ dc.doctor.photo }}">
                </li>
                <br>
                <li>
                    <p style="font-family: 'Bebas Neue'; font-size: xx-large"><a class="link_undecor"
                            href="{{ dc.doctor.get_absolute_url }}"> {{ dc.doctor.rang }} {{ dc.doctor.first_name }} {{ dc.doctor.last_name }}</a>
                    </p>

                    {% for doc in d.hospital_department.all %}
                        <li>
                            <p style="font-family: 'Bebas Neue'; font-size: xx-large">{{ doc }} </p>
                        </li>
                    {% endfor %}
                </li>
            </ul>
          </div>
        {% endfor %}

    </div>
    <div class="pagination">
    <span>
        {% if object.has_previous %}
            <a  class="link_undecor" href="?page=1">&laquo; first</a>
            <a  class="link_undecor" href="?page={{ object.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object.number }} of {{ object.paginator.num_pages }}.
        </span>

        {% if object.has_next %}
            <a class="link_undecor" href="?page={{ object.next_page_number }}">next</a>
            <a class="link_undecor" href="?page={{ object.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>


    {% for dr in object %}
    {% endfor %}

{% endblock %}