.pagination{
  width: 800px;
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  justify-self: center;
  color: black;
  font-family: "Bebas Neue";
  font-size:  xx-large;
}
.doc_info {
  padding-top: 5%;
  width: 440px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: "Bebas Neue";
  font-size: xx-large;

}
.block_doc{
  padding-top: 3%;
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.Photo_id{
  width: 150px;
  height: 200px;
 border-radius: 10%;
}

.Sort_menu{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: black;
  font-family: "Bebas Neue";
  font-size: x-large;
    font-style: italic;
}
.Sorter{
  height: 4%;
  width: 100%;
  padding: 2% ;
  display: flex;
  justify-content: start;
  color: black;
  font-family: "Bebas Neue";
  font-size: Xx-large;
  padding-left: 2%  ;
      font-style: italic;

}